#//*** IP address defaults to the first IP interface
#//*** If there are multiple IP addresses, enter the IP address to bind to
#HOST=192.168.1.1

#//*** Listening Port. Digicart default is 8001.
#//*** Connect multiple devices defining multiple ports separated by commas
#//*** Example: 
#//***     ports= 8001,8002, 8003
PORTS = 8001,8002

#//*** Music Folder Path
music_path= ./music/

#//*** List Music File type extenstions.
#//*** This acts as a filter for music files. Only these file types will be added to the system. This is used to exclude non-music files from the system
music_file_types= .mp3,.wav,.aiff,.mp4


#//******************
#//*** Diagnostics
#//******************

#//*** clear_screen: default True
#//***               Set to False to see all console messages, useful for tracking errors
#//***               Values: True|False
clear_screen = True